---

---
<!-- Footer -->
<div class="fixed inset-x-0 bottom-0 h-[50px] bg-slate-200 w-full flex z-50 justify-center items-center">
  <footer class="text-center text-gray-600">
      <p>&copy; 2025 ImgUU. All rights reserved.</p>
  </footer>
</div>
